.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

img {
    
    width: 200px;
    border-radius: 10px;
    transition: transform 0.5s ease;
    cursor: pointer;

}

img:hover {
    transform: scale(1.8);
}