.p1 {
    background-color: blue;
}

.p2 {
    background-color: green;
}

.p3 {
    background-color: red;
}

.titulo2 {
    color: rgb(6, 125, 131);
    font-family: 'Times New Roman', Times, Bold;
    font-size: 35px;
}

.p4 {
    color: rgb(175, 101, 4);
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

ul {
    display: flex;
    /*align-items: center;*/
    justify-content: space-around;
    background-color: blueviolet;

}

li {
    list-style-type: none;

}

li a {
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.pasar{
    text-decoration: none;  
    display: inline-block;
    color: #000;
    background-color: #ffffff;
    padding: 10px 15px;
    margin: 10px 5px;
    border-radius: 10px;
    transition: all 0.7s ease;
    font-weight: 600;
}

.pasar:hover{
    
    color: #ffffff;
    background-color: #007b7b;
    transform: translateX(7px);
}


.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

img {
    width: 200px;
}

body {
    height: auto;
    background-image: linear-gradient(to bottom, rgb(170, 170, 255),rgb(250, 116, 116));
}